<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dslm.funddataanalysisapp">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/DefaultTheme">
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
    
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".exceltable.ExcelTableActivity"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name=".exceltable.input.InputActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".delete.DeleteActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".exceltable.column.ColumnOrderActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>